@using Catalogo.MeuNamespace
@model Filme

<form asp-controller="Filme" asp-action="Salvar" method="POST">

    <label asp-for="Codigo">Digite o código:</label>
    <input asp-for="Codigo" />
    <br/>
    <label asp-for="Titulo">Digite o título:</label>
    <input asp-for="Titulo" />
    <br />
    <label asp-for="Sinopse">Digite a sinopse:</label>
    <input asp-for="Sinopse" />
    <span asp-validation-for="Sinopse" style="color:red"></span>
    <br />

    <label asp-for="Lancamento">Data de lançamento:</label>
    <input asp-for="Lancamento" />
    <span asp-validation-for="Lancamento" style="color:red"></span>
    <br />


    <label asp-for="Categoria">Categoria:</label>
    <select asp-for="Categoria" asp-items="@ViewBag.Categorias"></select>
    <span asp-validation-for="Categoria" style="color:red"></span>
    <br />

    <label asp-for="EmCartaz">Está em cartaz:</label>
    <input asp-for="EmCartaz"/>

    <button>SALVAR</button>
</form>

<span style="color: red">@ViewBag.Mensagem</span>




































